.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 62px 0;
    background: var(--blue-2-light, #D6F4FA);
    width: 652px;
    z-index: 2;
}

.mainForm {
    display: flex;
    column-gap: 15px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 14px;
}

.formIcon {
    width: 36.727px;
}

.formTitle {
    color: var(--dark, #090F24);
    text-align: center;
    margin: 0;
    font-family: Rubik;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 139.023%;
}

.formSubtitle {
    color: #1B5F6B;
    font-family: Noto Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.804px;
    margin: 0;
    letter-spacing: -0.5px;
}


.inputField {
    color: var(--gray-3, #B7B8C5);
    font-family: Noto Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 526px;
    height: 42px;
    flex-shrink: 0;
    border-radius: 40px;
    border: 1px solid var(--blue, #74CCD8);
    background: var(--white, #FFF);
    padding-left: 20px;
    box-sizing: border-box;
    color: black;
    margin-bottom: 12px;
}

.inputFieldText {
    resize: none;
    height: 130px;
    padding-top: 11.5px;
    border-radius: 20px;
    margin-bottom: 6px;
}

.formNote {
    color: #427781;
    font-family: Noto Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 155.023%;
    margin: 0;

}

.checkboxLabel {
    color: var(--dark, #090F24);
    font-family: Noto Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 155.023%;
    margin: 0;
    display: inline-block;
    letter-spacing: -0.5px;
}

.checkboxInput {
    width: 14px;
    height: 14px;
    flex-shrink: 0;
    margin: 0 9px 0 0;

}

.checkboxText {
    color: #090F24;
    font-family: Noto Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 155.023%;
}

.sendButton {
    display: flex;
    width: 249px;
    height: 46px;
    padding: 13px 30px;
    margin: 14px 0 0 0;
    gap: 10px;
    border-radius: 30px;
    background: var(--blue, #74CCD8);
    box-shadow: 0px 2px 4px 0px rgba(51, 196, 223, 0.20);
    color: white;
    border: none;
}

.sendIcon {
    width: 20px;
    color: var(--white, #FFF);
}

.sendText {
    font-family: Noto Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    letter-spacing: -0.5px;
}

.errorText {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}